/dts-v1/;
/plugin/;

/ {
    compatible = "ti,beaglebone", "ti,beaglebone-black";

    /* identification */
    part-number = "BB-SERVITRON-SIX";
    version@00A0 {
        version = "00A0";
        dtbo = "cape-servitron-00A0.dtbo"
    }

    /* state the resources this cape uses or prepare to get winged! */
    exclusive-use =
        /* Quadrature inputs */
        "P8.8", "P8.9", "P8.10",
        /*
        "P8.28", "P8.29", "P8.30",
        "P8.34", "P8.36", "P8.37",
        "P8.38", "P8.39", "P8.40",
        "P8.41", "P8.42", "P8.43",
        "P8.44", "P8.45", "P8.46",*/
        /* Enable and direction pins */
        /* Brake */
        /* Estop/power */
        /* Endstops */
        /* Hardware IP cores in use */
        "pruss"; 

    fragment@0 {
        target = <&am33xx_pinmux>;
        __overlay__ {
            pruicss_quad_pins: pinmux_pruicss_quad_pins{
                pinctrl-single,pins = <
                    // Mode is 0x3f: input turned on, pullup off
                    0x094 0x3f // P8.8  - Q0A - gpmc_oen_ren    GPIO2_3
                    0x09c 0x3f // P8.9  - Q0B - gpmc_ben0_cle   GPIO2_5
                    0x098 0x3f // P8.10 - Q0I - gpmc_wen        GPIO2_4
                >;
            };

        };
    };

    fragment@1{
        target = <&pruss>;
        __overlay__{
            status = "okay";
            pinctrl-names = "default";
            pinctrl-0       = <&pruicss_quad_pins>;

            quad_0{
                pin-names     = "Servi:q0_a", "Servi:q0_b", "Servi:q0_i";
                gpios         = <&gpio2 3 0
                                &gpio2 5 0
                                &gpio2 4 0>; 
            };            
        };
    };
};
